:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navyblue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--lightslate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navybluemodal: #2e2f4266;
	--grey: #2e2f42;
	--grey-mask: rgb(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}

/* global styles */

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--navyblue);
}

header {
	height: 72px;
	background: var(--white, #fff);
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
header .container {
	height: 100%;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}

img {
	width: 100%;
	display: block;
}
svg {
	display: block;
	fill: currentColor;
}

button {
	cursor: pointer;
}

nav {
	display: flex;
}

footer {
	background-color: var(--navyblue);
	padding-block: 100px;
}

footer .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 72px;
}

footer .logo .logo-second-part {
	color: var(--cloud);
}
footer .footer-text {
	color: var(--cloud);
	width: 264px;
}

footer .social-links {
	padding: 0;
	gap: 16px;
}

footer .social-links .icon-all {
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer .social-links .icon-all:hover,
footer .social-links .icon-all:focus,
footer .social-links .icon-all:active {
	background-color: var(--green);
}
footer .social-links .icon-all svg {
	fill: var(--cloud);
}
footer .text-16px {
	color: white;
}
/* fonts */

.main-section-title {
	font-family: "Roboto", sans-serif;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 1.12px;
	text-align: center;
}

.header-2 {
	font-family: "Roboto", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.72px;
	color: var(--navyblue);
	text-align: center;
}
.text-20px {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.4px;
	color: var(--navyblue);
}

.text-16px {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.32px;
	color: var(--slate, #434455);
}
.small {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.48px;
}
.text-fw500 {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.32px;
	color: var(--white);
}
.text-btn {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.64px;
}
.text-link {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.48px;
	text-decoration: underline;
}
@media screen and (max-width: 1200px) {
	.header-mobile {
		font-family: "Roboto", sans-serif;
		font-size: 36px;
		font-weight: 700;
		line-height: 1.11;
		letter-spacing: 0.72px;
		color: var(--navyblue);
		text-align: center;
	}
}

/* Modal */

.backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	background-color: var(--navybluemodal);
	z-index: 3;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
	position: absolute;
	width: 100%;
	max-width: 408px;
	height: 100%;
	max-height: 584px;
	border-radius: 4px;
	background: var(--dairy);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 72px 24px 24px;
}
@media screen and (max-width: 420px) {
	.modal {
		width: 95%;
		max-width: 392px;
		height: 95%;
		max-height: 584px;
		overflow: scroll;
	}
}

.modal .close-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	border: 0;
	outline: 0;
	border-radius: 50%;
	position: absolute;
	right: 24px;
	top: 24px;
	background-color: var(--cornflower);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-icon {
	color: var(--navyblue);
	fill: currentColor;
	width: 8px;
	height: 8px;
	margin: 0;
}

.modal .close-btn:hover {
	background-color: var(--ocean);
}
.modal .close-btn:hover .icon-close-icon {
	color: var(--cornflower);
}

.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal-text {
	text-align: center;
	color: var(--navyblue);
	margin-bottom: 16px;
}

.modal form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 360px;
}
.modal label {
	display: flex;
	gap: 4px;
	flex-direction: column;
	margin-bottom: 8px;
	color: var(--lightslate);
}
.modal label:nth-of-type(4) {
	margin-bottom: 16px;
}

.modal .input-container {
	position: relative;
	width: 100%;
	max-width: 360px;
	height: 40px;
	color: var(--navyblue);
}

.modal input {
	color: var(--navyblue);
	max-width: 360px;
	width: 100%;
	height: 40px;
	padding: 8px 40px;
	border-radius: 4px;
	background-color: transparent;
	border: 1px solid var(--navybluemodal);
	outline: 0;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .input-container svg {
	display: block;
	position: absolute;
	left: 16px;
	top: 0;
	width: 18px;
	height: 40px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	fill: currentColor;
}
.input-container:focus-within svg {
	fill: var(--iris);
}

.modal textarea {
	color: var(--navyblue);
	width: 100%;
	max-width: 360px;
	height: 120px;
	padding: 8px 16px;
	border-radius: 4px;
	background-color: transparent;
	border: 1px solid var(--navybluemodal);
	outline: 0;
	resize: none;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal textarea [placeholder] {
	color: var(--navyblue-modal);
}

.modal input:focus,
.modal textarea:focus {
	border-color: var(--iris);
}

.modal .policy-accept {
	margin-bottom: 24px;
	color: var(--lightslate);
	display: flex;
	flex-direction: row-reverse;
	gap: 8px;
	justify-content: flex-end;
	align-items: flex-end;
}

.modal .checkbox {
	width: 16px;
	height: 16px;
	appearance: none;
	padding: 0;
	margin: 0;
	opacity: 0;
}
.modal .checkbox-wrapper {
	position: relative;
	cursor: pointer;
	width: 16px;
	height: 16px;
	border: 1px solid var(--navybluemodal);
	border-radius: 4px;
}
.modal .policy-accept svg {
	opacity: 0;
	top: -1px;
	left: -1px;
	width: 16px;
	height: 16px;
	position: absolute;
}
.modal .checkbox:checked + svg {
	opacity: 1;
}
.send-button {
	color: var(--white);
	width: 169px;
	height: 56px;
	border: none;
	padding: 16px 32px;
	border-radius: 4px;
	background: var(--iris);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	margin: 0 auto;
	display: block;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:hover,
.send-button:focus {
	background-color: var(--ocean);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Modal */

/* Mobile Menu */
.menu-toggle {
	padding: 0;
	margin: 0;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
}

@media (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
}

.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	background-color: var(--white);
	z-index: 999;
	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
	display: flex;
	flex-direction: column;
}

.menu-container.is-open {
	transform: translateX(0);
}

.menu-container .menu-toggle {
	position: absolute;
	top: 16px;
	right: 16px;
	color: #fff;
}

.mobile-menu {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 80px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.mobile-menu .header-mobile,
.contact-mobile .header-mobile {
	text-align: left;
}

.mobile-menu .header-mobile .link.active {
	color: var(--ocean);
}

.js-close-menu {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: 1px solid black;
}

.js-close-menu svg {
	color: black;
}
.contact-mobile {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: auto;
}
.contact-mobile .link {
	text-decoration: none;
	color: var(--slate);
}

.contact-mobile li:nth-of-type(1) .link {
	color: var(--iris);
}
.menu-container .social-links {
	margin-top: 48px;
	margin-bottom: 40px;
	justify-content: flex-start;
	gap: 56px;
}

.mobile-menu .link {
	display: block;
	color: var(--navyblue);
	text-decoration: none;
}

/* Mobile Menu */

.container {
	width: 100%;
	max-width: 428px;
	padding: 0 16px;
	margin: 0 auto;
}
@media screen and (min-width: 768px) {
	.container {
		width: 100%;
		max-width: 768px;
		padding: 0 16px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		width: 100%;
		max-width: 1158px;
		padding: 0 16px;
		margin: 0 auto;
	}
}

.section {
	padding-block: 96px;
}

@media screen and (min-width: 1200px) {
	.section {
		padding-block: 120px;
	}
}

.icon-all {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-toggle {
	display: block;
	background-color: transparent;
	outline: 0;
	border: 0;
}
@media screen and (min-width: 768px) {
	header .container {
		justify-content: inherit;
	}
	.menu-toggle {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	nav {
		margin-left: 76px;
	}
}

.logo {
	font-family: "Raleway", sans-serif;
	text-decoration: none;
	color: var(--iris);
	font-size: 18px;
	font-weight: 800;
	line-height: 21px;
	letter-spacing: 0.54px;
	text-transform: uppercase;
}
.logo .logo-second-part {
	color: var(--navyblue);
}

.nav-section {
	display: none;
}

@media screen and (min-width: 768px) {
	.nav-section {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		gap: 40px;
	}
}

.nav-section .link {
	position: relative;
	text-decoration: none;
	color: var(--navyblue);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-section .link:hover,
.nav-section .link:focus {
	color: var(--ocean);
}

.nav-section .link.active {
	color: var(--ocean);
}
.nav-section .link.active::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--ocean);
	left: 0;
	top: 41.5px;
}

.contact {
	display: none;
}

@media screen and (min-width: 768px) {
	.contact {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-left: auto;
	}
}
@media screen and (min-width: 1200px) {
	.contact {
		flex-direction: row;
		gap: 40px;
	}
}
.contact .link {
	text-decoration: none;
	color: var(--slate);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact .link:hover,
.contact .link:focus {
	color: var(--ocean);
}

/* Main section */
.main-section {
	padding: 112px 0px;
	height: 432px;
	background: linear-gradient(var(--grey-mask), var(--grey-mask)),
		url("../images/people-office-Phone.jpg");
	background-color: var(--grey);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}
@media screen and (min-decive-pixel-ratio: 2),
	(-webkit-min-device-pixel-ratio: 2),
	screen and (min-resolution: 192dpi),
	screen and (min-resolution: 2dppx) {
	.main-section {
		padding: 112px 0px;
		height: 432px;
		background: linear-gradient(var(--grey-mask), var(--grey-mask)),
			url("../images/people-office-x2-Phone-2.jpg");
		background-color: var(--grey);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
	}
}

@media screen and (min-width: 768px) {
	.main-section {
		padding: 136px 0px;
		height: 436px;
		background: linear-gradient(var(--grey-mask), var(--grey-mask)),
			url("../images/people-office-Tablet.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
	}
	@media screen and (min-decive-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
		.main-section {
			padding: 136px 0px;
			height: 436px;
			background: linear-gradient(var(--grey-mask), var(--grey-mask)),
				url("../images/people-office-x2-Tablet.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			margin: 0 auto;
		}
	}
}

@media screen and (min-width: 1200px) {
	.main-section {
		padding: 188px 0px;
		max-width: 1440px;
		height: 600px;
		background: linear-gradient(var(--grey-mask), var(--grey-mask)),
			url("../images/people-office-x1-desktop.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
	}
	@media screen and (min-decive-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
		.main-section {
			padding: 188px 0px;
			max-width: 1440px;
			height: 600px;
			background: linear-gradient(var(--grey-mask), var(--grey-mask)),
				url("../images/people-office-x2-desktop.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			margin: 0 auto;
		}
	}
}

.main-section .main-section-title {
	font-family: "Roboto", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.72px;
	color: var(--navyblue);
	text-align: center;
	color: var(--white, #fff);
	margin: 0;
	max-width: 320px;
	margin: 0 auto;
	margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
	.main-section .main-section-title {
		font-family: "Roboto", sans-serif;
		font-size: 56px;
		font-weight: 700;
		line-height: 1.07;
		letter-spacing: 1.12px;
		text-align: center;
		max-width: 496px;
		margin-bottom: 36px;
	}
}

@media screen and (min-width: 1200px) {
	.main-section .main-section-title {
		margin-bottom: 48px;
	}
}

.main-section .order-btn {
	color: var(--white);
	border: none;
	padding: 16px 32px;
	border-radius: 4px;
	background: var(--iris);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	margin: 0 auto;
	display: block;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-section .order-btn:hover,
.main-section .order-btn:focus {
	background-color: var(--ocean);
}

.strong-sides-section .strong-sides {
	display: flex;
	flex-direction: column;
	gap: 72px;
}

.strong-sides-section .strong-sides .strong-side {
	width: 100%;
}
.strong-side > .text-20px {
	margin-bottom: 8px;
	text-align: center;
}
.strong-side > .text-16px {
	text-align: center;
	font-weight: 500;
}

.strong-side .icon-all {
	display: none;
}

@media screen and (min-width: 768px) {
	.strong-sides-section .strong-sides {
		display: flex;
		flex-direction: row;
		row-gap: 72px;
		column-gap: 24px;
		flex-wrap: wrap;
	}

	.strong-sides-section .strong-sides .strong-side {
		display: flex;
		flex-direction: column;
		flex-basis: calc((100% - 24px) / 2);
	}
	.strong-side > .text-20px {
		text-align: start;
	}
	.strong-side > .text-16px {
		text-align: start;
	}
}

@media screen and (min-width: 1200px) {
	.strong-sides-section .strong-sides {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: center;
		gap: 24px;
	}
	.strong-sides-section .strong-sides .strong-side {
		width: 264px;
	}
	.strong-side > .text-20px {
		margin-bottom: 8px;
	}
	.strong-side > .text-16px {
		font-weight: 400;
	}
	.strong-side .icon-all {
		display: flex;
		margin-bottom: 8px;
		background-color: var(--cloud);
		border-radius: 4px;
		height: 112px;
	}
}
/* Our job */
.our-job {
	display: none;
}
@media screen and (min-width: 1200px) {
	.our-job {
		display: block;
		padding-top: 0;
	}
	.our-job .header-2 {
		margin-bottom: 72px;
	}

	.our-job > .container > .our-job-container {
		display: flex;
		gap: 24px;
	}
}

/* team section */

.team-section {
	background-color: var(--cloud);
}
.team-section .header-2 {
	margin-bottom: 72px;
}

.team-member .team-member-text h3 {
	color: var(--navyblue);
}
.team-member .team-member-text p {
	color: var(--slate);
	margin-bottom: 8px;
}
.team-section .container .team-members {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 72px;
}

@media screen and (min-width: 768px) {
	.team-section .container .team-members {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 64px;
		column-gap: 24px;
	}
}

@media screen and (min-width: 1200px) {
	.team-section .container .team-members {
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 24px;
		align-items: inherit;
	}
}
.team-member {
	width: 264px;
	background-color: white;
	border-radius: 0px 0px 4px 4px;
	background: var(--white, #fff);
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social-links {
	display: flex;
	gap: 24px;
	justify-content: center;
}

.social-link .icon-all svg {
	fill: var(--cloud);
}
.social-links .icon-all {
	background-color: var(--iris);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links .icon-all:hover,
.social-links .icon-all:focus {
	background-color: var(--ocean);
}

.team-member .team-member-text {
	padding: 32px 0;
	text-align: center;
}
.team-member-text .text-20px {
	margin-bottom: 8px;
}

/* client section */
.customers .header-2 {
	margin-bottom: 72px;
}
.clients {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 72px;
	column-gap: 16px;
}
@media screen and (min-width: 768px) {
	.clients {
		flex-direction: row;
		row-gap: 72px;
		column-gap: 24px;
	}
}

@media screen and (min-width: 1200px) {
	.clients {
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 24px;
	}
}

.client .icon-all {
	color: var(--lightslate);
	width: 190px;
	height: 88px;
	border-radius: 4px;
	border: 1px solid currentColor;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
	.client .icon-all {
		color: var(--lightslate);
		width: 168px;
		height: 88px;
		border-radius: 4px;
		border: 1px solid currentColor;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}

.client .icon-all:hover,
.client .icon-all:focus {
	color: var(--ocean);
}
.client .icon-all svg {
	fill: currentColor;
	z-index: -3;
}
/* footer section */

.footer-container-wrapper {
	display: flex;
	flex-direction: column;
	gap: 72px;
}
@media screen and (min-width: 768px) {
	.footer-container-wrapper {
		margin: 0 auto;
		flex-direction: row;
		gap: 24px;
	}
}
@media screen and (min-width: 1200px) {
	.footer-container-wrapper {
		flex-direction: row;
		gap: 120px;
	}
}

@media screen and (min-width: 768px) {
	footer .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 72pxpx;
	}
}

@media screen and (min-width: 1200px) {
	footer .container {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		gap: 120px;
	}
}

.footer-container-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer-container-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer-container-3 {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer-container-3 label {
	width: 100%;
	max-width: 396px;
}

@media screen and (min-width: 768px) {
	.footer-container-1 {
		align-items: baseline;
	}
	.footer-container-2 {
		justify-content: flex-start;
		align-items: flex-start;
	}
	.footer-container-3 {
		align-items: baseline;
		width: 496px;
		margin: 0 auto;
	}
	.footer-container-3 label {
		width: auto;
		max-width: 396px;
	}
}

@media screen and (min-width: 1200px) {
	.footer-container-1 {
		align-items: baseline;
	}

	.footer-container-3 {
		align-items: baseline;
	}
	.footer-container-3 label {
		max-width: 396px;
	}
}

.footer-container-1 .logo {
	display: block;
	margin-bottom: 16px;
}
.footer-container-2 .text-fw500 {
	margin-bottom: 16px;
}
.footer-container-3 .text-fw500 {
	margin-bottom: 16px;
	color: var(--white);
}
.footer-container-3 .newsletter-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	width: 100%;
}

.email-input {
	height: 40px;
	width: 100%;
	padding: 8px 16px;
	background-color: transparent;
	border: 1px solid var(--white);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	outline: 0;
}

@media screen and (min-width: 768px) {
	.footer-container-3 .newsletter-container {
		display: flex;
		flex-direction: row;
		gap: 24px;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.email-input {
		height: 40px;
		width: 264px;
		padding: 8px 16px;
		background-color: transparent;
		border: 1px solid var(--white);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		outline: 0;
	}
}

@media screen and (min-width: 1200px) {
	.footer-container-3 .newsletter-container {
		display: flex;
		flex-direction: row;
		gap: 24px;
	}
	.email-input {
		height: 40px;
		width: 264px;
		padding: 8px 16px;
		background-color: transparent;
		border: 1px solid var(--white);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		outline: 0;
	}
}

.email-input[placeholder] {
	color: white;
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 200% */
	letter-spacing: 0.48px;
}
.email-input::placeholder {
	color: white;
}

.submit-button {
	display: flex;
	gap: 16px;
	color: var(--white);
	border: none;
	padding: 8px 24px;
	border-radius: 4px;
	background: var(--iris);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover {
	background-color: var(--ocean);
}

.social-media-footer {
	margin-bottom: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.32px;
	color: var(--white);
}
