/* Variables */
:root {
	--iris: #4d5ae5; /* Primary Brand*/
	--ocean: #404bbf; /* Pressed state*/
	--navyblue: #2e2f42; /* Dark*/
	--green: #31d0aa; /* Success*/
	--slate: #434455; /* Text*/
	--lightslate: #8e8f99; /* Subtle text*/
	--cornflower: #e7e9fc; /* Accent*/
	--cloud: #f4f4fd; /* Light*/
	--navybluemodal: #2e2f4266; /* Modal overlay*/
	--grey: #2e2f42; /* Hero background*/
	--grey-mask: rgb(46, 47, 66, 0.7); /* Hero background*/
	--white: #fff; /* White background*/
	--dairy: #fcfcfc; /* Modal background*/
}

/* Reset styles */

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

/* Typography */

.header-xl {
	font-family: "Roboto", sans-serif;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 1.12px;
	text-align: center;
}

.header-m {
	font-family: "Roboto", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.72px;
	color: var(--navyblue);
	text-align: center;
}
.header-s {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.4px;
	color: var(--navyblue);
}

.text-m {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.32px;
	color: var(--slate, #434455);
}
.text-s {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.48px;
}

.text-btn {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.64px;
}
.text-link {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.48px;
	text-decoration: underline;
}
@media screen and (max-width: 1200px) {
	.header-mobile {
		font-family: "Roboto", sans-serif;
		font-size: 36px;
		font-weight: 700;
		line-height: 1.11;
		letter-spacing: 0.72px;
		color: var(--navyblue);
		text-align: center;
	}
}

/* Main CSS */

/* Global styles */

/* Modal */

.modal-text {
	text-align: center;
	color: #2e2f42;
	margin-bottom: 16px;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.32px;
}

.modal form {
	display: flex;
	flex-direction: column;
}

label {
	display: flex;
	flex-direction: column;
	color: #8e8f99;
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.16;
	letter-spacing: 0.48px;
}

.modal textarea {
	color: #2e2f42;
	width: 360px;
	height: 120px;
	margin-top: 4px;
	padding: 8px 16px;
	border-radius: 4px;
	background-color: transparent;
	border: 1px solid #2e2f4266;
	outline: 0;
	resize: none;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal textarea:focus-within {
	border-color: blue;
}

.modal .checkbox-form {
	margin-bottom: 24px;
	display: flex;
	flex-direction: row;
	margin-top: 16px;
	line-height: 1.16;
	gap: 8px;
}

.modal .checkbox-wrapper {
	position: relative;
	cursor: pointer;
	width: 16px;
	height: 16px;
	border-radius: 4px;
}

.modal .check-box {
	display: flex;
}

.privacy-policy {
	text-decoration: underline;
	appearance: none;
}

.form-button {
	color: #fff;
	width: 169px;
	height: 56px;
	border: none;
	padding: 16px 32px;
	border-radius: 4px;
	background: #4d5ae5;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	margin: 0 auto;
	display: block;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
	background-color: #404bbf;
}

.input-form-policy {
	width: 16px;
	height: 16px;
	flex-shrink: 0;
}

input:checked + .input-form-policy {
	fill: #404bbf;
	stroke-width: 1px;
	stroke: #404bbf;
}

.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal {
	position: absolute;
	width: 408px;
	height: 584px;
	border-radius: 4px;
	background: #fcfcfc;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 72px 24px 24px;
}

.backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	background-color: #2e2f4266;
	z-index: 3;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal > .close-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	border: 0;
	outline: 0;
	border-radius: 50%;
	position: absolute;
	right: 24px;
	top: 24px;
	background-color: #e7e9fc;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal > .close-btn:hover,
.modal > .close-btn:active,
.modal > .close-btn:focus {
	background-color: #404bbf;
	color: #ffffff;
}

input:not([type="chechbox"]) {
	border: none;
}

input:not([type="chechbox"]):focus {
	outline: none;
}

.input-wrapper {
	display: flex;
	margin-top: 4px;
	margin-bottom: 8px;
	padding: 8px 16px;
	font-family: inherit;
	border-radius: 4px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	height: 40px;
	flex-shrink: 0;
}

.input-wrapper > input {
	flex-grow: 1;
	padding: 5px;
	background-color: #fcfcfc;
}

.input-wrapper:focus-within {
	border-radius: 4px;
	border: 1px solid #4d5ae5;
}

.input-wrapper:focus-within .icon {
	fill: #4d5ae5;
}

.input-wrapper > .icon {
	fill: black;
}
/* Modal */

/* Mobile Menu */
.menu-toggle {
	padding: 0;
	margin: 0;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
}

@media (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
}

.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 40px;
	background-color: var(--white);
	z-index: 999;
	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
	display: flex;
	flex-direction: column;
}

.menu-container.is-open {
	transform: translateX(0);
}

.menu-container .menu-toggle {
	position: absolute;
	top: 16px;
	right: 16px;
	color: #fff;
}

.mobile-menu {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.mobile-menu .header-mobile,
.contact-mobile .header-mobile {
	text-align: left;
}

.mobile-menu .header-mobile .link.active {
	color: var(--ocean);
}

.js-close-menu {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: 1px solid black;
}

.js-close-menu svg {
	color: black;
}
.contact-mobile {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: auto;
}
.contact-mobile .link {
	text-decoration: none;
	color: var(--slate);
}

.contact-mobile li:nth-of-type(1) .link {
	color: var(--iris);
}
.menu-container .social-links {
	margin-top: 48px;
	gap: 56px;
}

.mobile-menu .link {
	display: block;
	color: var(--navyblue);
	text-decoration: none;
}

/* Mobile Menu */

body {
	font-family: "Roboto", sans-serif;
	color: var(--navyblue);
}

.container {
	width: 100%;
	max-width: 428px;
	padding: 0 16px;
	margin: 0 auto;
}
@media screen and (min-width: 768px) {
	.container {
		width: 100%;
		max-width: 768px;
		padding: 0 16px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		width: 100%;
		max-width: 1158px;
		padding: 0 16px;
		margin: 0 auto;
	}
}

header {
	height: 72px;
	background: var(--white, #fff);
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
header .container {
	height: 100%;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}

.menu-toggle {
	display: block;
	background-color: transparent;
	outline: 0;
	border: 0;
}
@media screen and (min-width: 768px) {
	header .container {
		justify-content: inherit;
	}
	.menu-toggle {
		display: none;
	}
}

img {
	width: 100%;
	display: block;
}
svg {
	display: block;
	fill: currentColor;
}

button {
	cursor: pointer;
}

nav {
	display: flex;
}
@media screen and (min-width: 768px) {
	nav {
		margin-left: 76px;
	}
}

.logo {
	font-family: "Raleway", sans-serif;
	text-decoration: none;
	color: var(--iris);
	font-size: 18px;
	font-weight: 800;
	line-height: 21px;
	letter-spacing: 0.54px;
	text-transform: uppercase;
}
.logo .accent {
	color: var(--navyblue);
}

.nav-links {
	display: none;
}

@media screen and (min-width: 768px) {
	.nav-links {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		gap: 40px;
	}
}

.nav-links .link {
	position: relative;
	text-decoration: none;
	color: var(--navyblue);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links .link:hover,
.nav-links .link:focus {
	color: var(--ocean);
}

.nav-links .link.active {
	color: var(--ocean);
}
.nav-links .link.active::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--ocean);
	left: 0;
	top: 41.5px;
}

.contact {
	display: none;
}

@media screen and (min-width: 768px) {
	.contact {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-left: auto;
	}
}
@media screen and (min-width: 1200px) {
	.contact {
		flex-direction: row;
		gap: 40px;
	}
}
.contact .link {
	text-decoration: none;
	color: var(--slate);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact .link:hover,
.contact .link:focus {
	color: var(--ocean);
}

footer {
	background-color: var(--navyblue);
	padding-block: 100px;
}

footer .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 72px;
}
.footer-container-wrapper {
	display: flex;
	flex-direction: column;
	gap: 72px;
}
@media screen and (min-width: 768px) {
	.footer-container-wrapper {
		margin: 0 auto;
		flex-direction: row;
		gap: 24px;
	}
}
@media screen and (min-width: 1200px) {
	.footer-container-wrapper {
		flex-direction: row;
		gap: 120px;
	}
}

@media screen and (min-width: 768px) {
	footer .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 72pxpx;
	}
}

@media screen and (min-width: 1200px) {
	footer .container {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		gap: 120px;
	}
}

footer .logo .accent {
	color: var(--cloud);
}
footer .footer-text {
	color: var(--cloud);
	width: 264px;
}

footer .social-links {
	padding: 0;
	gap: 16px;
}

footer .social-links .icon-bg {
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer .social-links .icon-bg:hover,
footer .social-links .icon-bg:focus,
footer .social-links .icon-bg:active {
	background-color: var(--green);
}
footer .social-links .icon-bg svg {
	fill: var(--cloud);
}
footer .text-m {
	color: white;
}

.footer-container-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer-container-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer-container-3 {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer-container-3 label {
	width: 100%;
	max-width: 396px;
}

@media screen and (min-width: 768px) {
	.footer-container-1 {
		align-items: baseline;
	}
	.footer-container-2 {
		justify-content: flex-start;
		align-items: flex-start;
	}
	.footer-container-3 {
		align-items: baseline;
		width: 496px;
		margin: 0 auto;
	}
	.footer-container-3 label {
		width: auto;
		max-width: 396px;
	}
}

@media screen and (min-width: 1200px) {
	.footer-container-1 {
		align-items: baseline;
	}

	.footer-container-3 {
		align-items: baseline;
	}
	.footer-container-3 label {
		max-width: 396px;
	}
}

.footer-container-1 .logo {
	display: block;
	margin-bottom: 16px;
}
.footer-container-2 .text-m-500 {
	margin-bottom: 16px;
}
.footer-container-3 .text-m-500 {
	margin-bottom: 16px;
	color: var(--white);
}
.footer-container-3 .newsletter-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	width: 100%;
}

.email-input {
	height: 40px;
	width: 100%;
	padding: 8px 16px;
	background-color: transparent;
	border: 1px solid var(--white);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	outline: 0;
}

@media screen and (min-width: 768px) {
	.footer-container-3 .newsletter-container {
		display: flex;
		flex-direction: row;
		gap: 24px;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.email-input {
		height: 40px;
		width: 264px;
		padding: 8px 16px;
		background-color: transparent;
		border: 1px solid var(--white);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		outline: 0;
	}
}

@media screen and (min-width: 1200px) {
	.footer-container-3 .newsletter-container {
		display: flex;
		flex-direction: row;
		gap: 24px;
	}
	.email-input {
		height: 40px;
		width: 264px;
		padding: 8px 16px;
		background-color: transparent;
		border: 1px solid var(--white);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		outline: 0;
	}
}

.email-input[placeholder] {
	color: white;
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-style: normal;
	border: 1px solid var(--white);
	font-weight: 400;
	line-height: 24px; /* 200% */
	letter-spacing: 0.48px;
}
.email-input::placeholder {
	color: white;
}

.submit-button {
	display: flex;
	gap: 16px;
	color: var(--white);
	border: none;
	padding: 8px 24px;
	border-radius: 4px;
	background: var(--iris);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover {
	background-color: var(--ocean);
}

.social-media-footer {
	margin-bottom: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.32px;
	color: var(--white);
}
.section {
	padding-block: 96px;
}

@media screen and (min-width: 1200px) {
	.section {
		padding-block: 120px;
	}
}

.icon-bg {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Home */

/* Hero section */
.hero {
	padding: 112px 0px;
	height: 432px;
	background: linear-gradient(var(--grey-mask), var(--grey-mask)),
		url("../images/people-office-Phone.jpg");
	background-color: var(--grey);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}
@media screen and (min-decive-pixel-ratio: 2),
	(-webkit-min-device-pixel-ratio: 2),
	screen and (min-resolution: 192dpi),
	screen and (min-resolution: 2dppx) {
	.hero {
		padding: 112px 0px;
		height: 432px;
		background: linear-gradient(var(--grey-mask), var(--grey-mask)),
			url("../images/people-office-x2-Phone-2.jpg");
		background-color: var(--grey);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
	}
}

@media screen and (min-width: 768px) {
	.hero {
		padding: 136px 0px;
		height: 436px;
		background: linear-gradient(var(--grey-mask), var(--grey-mask)),
			url("../images/people-office-Tablet.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
	}
	@media screen and (min-decive-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
		.hero {
			padding: 136px 0px;
			height: 436px;
			background: linear-gradient(var(--grey-mask), var(--grey-mask)),
				url("../images/people-office-x2-Tablet.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			margin: 0 auto;
		}
	}
}

@media screen and (min-width: 1200px) {
	.hero {
		padding: 188px 0px;
		
		height: 600px;
		background: linear-gradient(var(--grey-mask), var(--grey-mask)),
			url("../images/people-office-x1-desktop.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
	}
	@media screen and (min-decive-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
		.hero {
			padding: 188px 0px;
			
			height: 600px;
			background: linear-gradient(var(--grey-mask), var(--grey-mask)),
				url("../images/people-office-x2-desktop.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			margin: 0 auto;
		}
	}
}

.hero .header-xl {
	font-family: "Roboto", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.72px;
	color: var(--navyblue);
	text-align: center;
	color: var(--white, #fff);
	margin: 0;
	max-width: 320px;
	margin: 0 auto;
	margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
	.hero .header-xl {
		font-family: "Roboto", sans-serif;
		font-size: 56px;
		font-weight: 700;
		line-height: 1.07;
		letter-spacing: 1.12px;
		text-align: center;
		max-width: 496px;
		margin-bottom: 36px;
	}
}

@media screen and (min-width: 1200px) {
	.hero .header-xl {
		margin-bottom: 48px;
	}
}

.order-btn {
	display: block;
	margin: 0 auto;
	font-family: roboto;
	background-color: var(--iris);
	border: var(--iris);
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.64px;
	text-align: center;
	padding: 16px 32px 16px 32px;
	min-width: 169px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-btn:hover,
.order-btn:focus {
	border-radius: 4px;
	background-color: var(--ocean);
	color: #ffffff;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Hero section */

/* Section 2 */
.strong-sides-section .strong-sides {
	display: flex;
	flex-direction: column;
	gap: 72px;
}

.strong-sides-section .strong-sides .strong-side {
	width: 100%;
}
.strong-side > .header-s {
	margin-bottom: 8px;
	text-align: center;
}
.strong-side > .text-m {
	text-align: center;
	font-weight: 500;
}

.strong-side .icon-bg {
	display: none;
}

@media screen and (min-width: 768px) {
	.strong-sides-section .strong-sides {
		display: flex;
		flex-direction: row;
		row-gap: 72px;
		column-gap: 24px;
		flex-wrap: wrap;
	}

	.strong-sides-section .strong-sides .strong-side {
		display: flex;
		flex-direction: column;
		flex-basis: calc((100% - 24px) / 2);
	}
	.strong-side > .header-s {
		text-align: start;
	}
	.strong-side > .text-m {
		text-align: start;
	}
}

@media screen and (min-width: 1200px) {
	.strong-sides-section .strong-sides {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: center;
		gap: 24px;
	}
	.strong-sides-section .strong-sides .strong-side {
		width: 264px;
	}
	.strong-side > .header-s {
		margin-bottom: 8px;
	}
	.strong-side > .text-m {
		font-weight: 400;
	}
	.strong-side .icon-bg {
		display: flex;
		margin-bottom: 8px;
		background-color: var(--cloud);
		border-radius: 4px;
		height: 112px;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* Section 3 */
.doing-list {
	display: none;
}
@media screen and (min-width: 1200px) {
	.doing-list {
		display: block;
		padding-top: 0;
	}
	.doing-list .header-m {
		margin-bottom: 72px;
	}

	.doing-list > .container > .third-section-pics {
		display: flex;
		gap: 24px;
	}
}
/* Section 3 */

/* Section 4 */

.team-section {
	background-color: var(--cloud);
}
.team-section .header-m {
	margin-bottom: 72px;
}

.mark .team-text h3 {
	color: var(--navyblue);
}
.mark .team-text p {
	color: var(--slate);
	margin-bottom: 8px;
}
.container .card-set {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 72px;
}

@media screen and (min-width: 768px) {
	.team-section .container .card-set {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 64px;
		column-gap: 24px;
	}
}

@media screen and (min-width: 1200px) {
	.team-section .container .card-set {
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 24px;
		align-items: inherit;
	}
}
.mark {
	width: 264px;
	background-color: white;
	border-radius: 0px 0px 4px 4px;
	background: var(--white, #fff);
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social-links {
	display: flex;
	gap: 24px;
	justify-content: center;
}

.social-link .icon-bg svg {
	fill: var(--cloud);
}
.social-links .icon-bg {
	background-color: var(--iris);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links .icon-bg:hover,
.social-links .icon-bg:focus {
	background-color: var(--ocean);
}

.mark .team-text {
	padding: 32px 0;
	text-align: center;
}
.team-text .header-s {
	margin-bottom: 8px;
}

/* Section 4 */
.customers .header-m {
	margin-bottom: 72px;
}
.clients {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 72px;
	column-gap: 16px;
}
@media screen and (min-width: 768px) {
	.clients {
		flex-direction: row;
		row-gap: 72px;
		column-gap: 24px;
	}
}

@media screen and (min-width: 1200px) {
	.clients {
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 24px;
	}
}

.client .icon-bg {
	color: var(--lightslate);
	width: 190px;
	height: 88px;
	border-radius: 4px;
	border: 1px solid currentColor;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
	.client .icon-bg {
		color: var(--lightslate);
		width: 168px;
		height: 88px;
		border-radius: 4px;
		border: 1px solid currentColor;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}

.client .icon-bg:hover,
.client .icon-bg:focus {
	color: var(--ocean);
}
.client .icon-bg svg {
	fill: currentColor;
	z-index: -3;
}

/* Portfolio */
.filters {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 24px;
	margin-bottom: 72px;

	max-width: 320px;
}
@media screen and (min-width: 768px) {
	.filters {
		list-style: none;
		display: flex;
		justify-content: center;
		gap: 24px;
		margin-bottom: 72px;
		width: auto;
		max-width: NONE;
	}
}
.filters .filter-button {
	padding: 12px 24px;
	color: var(--iris);
	border-radius: 4px;
	border: 1px solid var(--cornflower, #e7e9fc);
	background-color: var(--cloud, #f4f4fd);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters .filter-button:hover,
.filters .filter-button:focus {
	color: var(--white);
	background-color: var(--ocean);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
		0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.projects {
	padding-top: 96px;
	padding-bottom: 120px;
}
.projects-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 48px;
	column-gap: 24px;
	width: 360px;
}
.project {
	width: 360px;
	position: relative;
	overflow: hidden;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
	.projects-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 48px;
		column-gap: 24px;
		width: auto;
	}
	.project {
		width: 360px;
		position: relative;
		overflow: hidden;
		flex-basis: calc((100% - 48px) / 2);
	}
}

@media screen and (min-width: 1200px) {
	.projects-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 48px;
		column-gap: 24px;
	}
	.project {
		width: 360px;
		position: relative;
		overflow: hidden;
		flex-basis: calc((100% - 48px) / 3);
	}
}

.project:hover,
.project:focus {
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-link {
	display: block;
	text-decoration: none;
	transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:focus,
.project-link:hover {
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.projects-container .project .project-link .project-text {
	padding: 32px 16px;
	border: 1px solid var(--cornflower, #e7e9fc);
	border-top: 0;
	background: var(--white, #fff);
	position: relative;
}

.project-text > .header-s {
	margin-bottom: 8px;
}

.project-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--ocean);
	opacity: 1;
	width: 360px;
	height: 100%;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-container .project .project-link:hover .project-overlay,
.projects-container .project .project-link:focus .project-overlay {
	transform: translateY(0%);
}

.project-overlay .overlay-text {
	color: var(--cloud, #f4f4fd);
	padding: 32px 32px 0 32px;
}
